# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MyTestAssignmentApp.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\balam\Desktop\github\MyTestAssignmentApp\.idea\.idea.MyTestAssignmentApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
